################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto CineGT/.vs
/.vs/Proyecto CineGT/FileContentIndex/83c0b0bb-a7f0-4597-b2d4-32a3d76552b3.vsidx
/.vs/Proyecto CineGT/v17/.suo
/.vs/VSWorkspaceState.json
