################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto CineGT/.vs
/.vs/Proyecto CineGT/FileContentIndex/83c0b0bb-a7f0-4597-b2d4-32a3d76552b3.vsidx
/.vs/Proyecto CineGT/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/Proyecto CineGT/FileContentIndex/0601429d-21a0-444c-bd8a-5ecee98bf42f.vsidx
/.vs/Proyecto CineGT/FileContentIndex/14e267ad-046e-4d72-8cad-1307438c07c2.vsidx
/.vs/Proyecto CineGT/FileContentIndex/9239205b-e31f-4e2f-90ce-123ec42ce2bf.vsidx
/.vs/Proyecto CineGT/FileContentIndex/d5a92e4f-2728-4caf-b21a-85beacc12d8d.vsidx
