<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source = 26.117.250.193; Database = CineGT; User Id = Eliwood222; Password = 123456" />
    <add name="Proyecto_CineGT.Properties.Settings.CineGTConnectionString"
      connectionString="Data Source=26.117.250.193;Initial Catalog=CineGT;Persist Security Info=True;User ID=Eliwood;Password=123456;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>